# vim: syntax=sshconfig:

############################################################
#                       DEFAULTS                           #
############################################################

Host *
AddKeysToAgent yes
IdentitiesOnly yes

############################################################
#                       SERVICES                           #
############################################################

Host github github.com
Hostname github.com
PreferredAuthentications publickey
IdentitiesOnly yes
IdentityFile ~/.ssh/github
User git

Host git-codecommit.*.amazonaws.com
User XXXXXXXXXXXXXXXXXXXX
IdentityFile ~/.ssh/codecommit_rsa

############################################################
#                AWS INSTANCES (bstk.co)                   #
############################################################

Host bstk.co *.bstk.co
ForwardAgent yes
IdentityFile ~/.ssh/id_rsa
User ubuntu

############################################################
#               AWS INSTANCES (example.com)                #
############################################################

Host centos9 centos9.mgmt.example.com
Hostname centos9.mgmt.example.com
PreferredAuthentications publickey
IdentitiesOnly yes
IdentityFile ~/.ssh/id_rsa
ForwardAgent yes
User centos
#RequestTTY force
#RemoteCommand tmux

Host ubuntu2204 ubuntu2204.mgmt.example.com
Hostname ubuntu2204.mgmt.example.com
PreferredAuthentications publickey
IdentitiesOnly yes
IdentityFile ~/.ssh/id_rsa
ForwardAgent yes
User ubuntu
#RequestTTY force
#RemoteCommand tmux

Host kali.mgmt.example.com
ForwardAgent no
IdentityFile ~/.ssh/id_rsa
User kali
